body {
    font-family: 'Times New Roman', Times, serif; /* Establece la fuente del texto */
    margin: 0; /* Elimina los margenes por defecto */
    padding: 0; /* Elimina el Padding por defecto */
}

/* ENCABEZADO */
header {
    background-color: #326BB6/*cadetblue*/; /* Color del fondo del encabezado */
    color: orange; /* Color del texto en el encabezado */
    padding: 10px; /* Espacio interno del encabezado*/
    display: flex; /* Utiliza un modelo de caja flexible para el encabezado */
    justify-content: space-between; /* Centra los elementos horizontalmente*/
    align-items: center; /* Centra los elementos verticalmente */
}

/* Foto de perfil barra superior*/
.perfil {
    width: 80px; /* Establece el ancho de la foto de perfil */
    height: 80px; /* Establece la altura de la foto de perfil */
    border-radius: 50%; /* Aplica un borde redondeado para que la foto de perfil sea ciruclar */
    background-image: url(img/pedro.png); /* imagen como el fondo de la figura */
    background-size: cover; /* Ajusta la imagen para que cubra todo el div */
    background-position: center; /* Centra la imagen en el div */
    /*background-color: white; Establece el color de fondo de la foto de perfil  */
    margin-left: 10px; /* Aumenta el margen del lado izquierdo */
}

/* Boton trazar ruta de la barra superior*/
.atras img{
    margin-right: 10px; /* Aumenta el margen del lado derecho */
    width: 60px;
    height: 60px;
}

/* Imagen del logo */
.logo img {
    display: flex;
    align-items: center;
    width: 150px;
    margin-right: 25px;
}

main {
    background-color: #BED8E6;
}

/* Publicacion */
.publicacion {
    margin-bottom: 20px; /* Espacio entre publicaciones */
}

/* Estilos para el encabezado de la publicación */
.publicacion_cabecera {
    display: flex; /* Mostrar elementos en línea */
    align-items: center; /* Alinear verticalmente al centro */
    margin-bottom: 10px; /* Espacio inferior */
    background-color: #83B7D4;
    color: #0326BB;
    font-weight: bold; /* Negrita */
    font-size: 25px;
}

/* Estilos para la foto de perfil */
.publicacion_perfil {
    width: 40px; /* Ancho de la foto de perfil */
    height: 40px; /* Alto de la foto de perfil */
    border-radius: 50%; /* Forma circular */
    margin-right: 10px; /* Espacio a la derecha */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    
}

/* Estilos para la descripción de la publicación */
.publicacion_descripcion {
    margin: 0; /* Eliminar márgenes por defecto */
}

/* Estilos para la imagen principal de la publicación */
.publicacion_imagen {
    width: 100%; /* Ancho completo */
    margin-bottom: -4px; /* Espacio inferior */
    margin-top: -10px;
}

.interaccion {
    display: flex;
    background-color: #83B7D4;
    width: 95,5%;
    padding: 10px;
    justify-content: center;
}

/* Estilos para los iconos de interacción */
.interaccion_botones {
    width: 30px; /* Ancho de los iconos */
    height: 30px; /* Alto de los iconos */
    margin-right: 70px; /* Espacio a la derecha */
    margin-left: 70px ;
    cursor: pointer; /* Cambiar cursor al pasar por encima */
}

/* Contenedor inferior */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #326BB6 /*cadetblue*/;
    padding: 10px;
    display: flex;
    justify-content: center;
}

footer a {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}

/* Imagenes del contenedor inferior */
footer img {
    width: 50px; /* Ancho de las imagenes */
    height: 50px; /* Alto de las imagenes */
    margin-left: 30px;
    margin-right: 30px;
}